<!-- Card Post Inicial -->
<img class="first-card" src="../../assets/card-intro.png" alt="Aceito - Vestidos e Ternos para Casamento">

<!-- Descrição da Loja -->
<section>
    <div id="confection">
        <img class="first-card" src="../../assets/carrd-confeccao.png" alt="Confecção sob encomenda">
    </div>

    <div id="description">
        <p> Vestindo milhares e milhares de noivas em seu dia de sonho maior: o dia do casamento.</p>
        <p>Para que as noivas tenham mais facilidades, passamos a oferecer, além de vestidos de noiva e ternos, acessórios para
        noivas, como mantilhas e véus, tiaras, coroas e garras e sapatos para noivas.</p> 
    </div>
</section>

<!-- Produtos -->

<h1 class="title">PRODUTOS</h1>

<!-- CARD DOS PRODUTOS -->
<div class="card" style="width: 18rem;">
  
    <img class="card-img-top" src="../../assets/vestidoteste.jpg" alt="Foto das peças de produtos">
       
    <a href="#" class="btn btn-primary">Encomendar</a>
</div>

